.header-card {
  text-align: center;
  border: 3px solid $color-sand;
  width: 80%;
  margin: 0 auto;
}
.user-login-card {
  text-align: center;
  border: 3px solid $color-sand;
  padding: 5rem 0;
  margin: 1rem auto;
  width: 80%;

}

.outer-chat-card{
  margin: 1rem auto 0 auto;
  border: 3px solid $color-sand;
  width: 80%;
  height: 25rem;
  background: #FFFFFF;
  position: relative;
  overflow: auto;

  .chat-card {
    position: absolute;
    bottom: 0;
    // overflow: auto;

    .chat-messages {
      font-size: .7rem;
      margin-left: .15rem;
      // overflow: scroll;
    }
    .margin-indent {
      margin-left: 1.7rem;
      // overflow: auto;
    }
  }
}

.user-area-card{
  margin: 0 auto;
  border: 3px solid $color-sand;
  border-top: none;
  width: 80%;
  height: 5rem;
  #user-name-text {
    display: inline-block;
    margin-left: 1rem;
  }
}
